<body>
	<style type="text/css">
		body{
			background: url(image/a.jpg);
			background-size: cover;
		}
		
		.form-control{
			width: 200px;
			border-color: red;
			border-width: 2px;
		}
		.btn{
			margin-top: 10px;
			color: black;
		}
		.container{
			margin-top: 100px;
		}
		h1{
			text-align: center;
			color: red;
			font-size: 20px;
		}
		img{
			width: 140px;
           	height: :150px;
           	position:absolute;
			transform: translate(-50%, -50%);
			padding: 0 20px;
			text-align: center;

         }

	